*{
    margin: 0;
    padding: 0;
}
h1{
    color: orangered;
}

.ptable table{
    margin: 30px auto;
    
}

.ptable{
    margin: 250px  30px ;
}

th, td{
    padding: 10px;
}
img{
    width: 15px;
}

.headin{
    text-align: center;
}

.twee{
    text-align: center;
}
.een{
    text-align: center;
}


th{
    border-bottom: 2px solid #ddd;
  }

  td{
    border-bottom: 1px solid #ddd;
  }

  th{
    color: orangered;
  }

 